# Environment
.env
.env*.local

# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
